<h1>Welcome to Tweetwee</h1>
<h2>create new account</h2>
<%= form_for @user do |f| %>
<p>
  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>
  <%= f.submit "create" %>
</p>
<%end%>
<br><%= link_to 'go back to all post', posts_path %></br>
