<h2>Welcome, <%= @user.name %></h2>
<h2>create new post</h2>
<%= link_to 'create new post', new_post_path(@post) %><br>
<h2>chat with someone</h2>
<%= link_to 'go to chatroom', chats_path %><br>
<h3>The most popular chatroom is <%= Chat.most_popular_chatrooms.name %>.</h3>

<br><%= link_to 'go back to create account',  new_user_path(@user) %></br>

<br><%= link_to 'go back to all posts',  posts_path %></br>
