<h2>add chatroom with topic</h2>
  <%= form_for @chat do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :topic %>
  <%= f.text_field :topic %>
  <%= f.submit %>
<% end %>

<%= form_tag chat_path(@chat), method: "delete" do %><br>
<%= submit_tag "Delete chatroom" %><br>
<br><%= link_to 'go back to chatrooms', chats_path %></br>
<%end%>
